/* GENERAL ITEMS */
html {
    font-size: 100%;
}

a, a:hover {
    text-decoration: none;
}

a:hover {
    color: rgb(184, 184, 184);
}

img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

h4, h5, a.contact-link {
    color: #4F4F4F;
}

h4 {
    font-size: calc(1rem + .5vw);
}









/* NAVIGATION BAR */
/* LOGO */
.header-logo {
    padding: 1vw;
    text-align: center;
}

.logo-link {
    display: inline-block;
    max-width: calc(10rem + 10vw);
}

/* MENU ICON */
.menu-icon {
    display: none;
}

.menu-link:hover {
    cursor: pointer;
}

.line {
    background-color: black;
    height: 5px;
    margin: 6px 0;
    width: 35px;
}

/* NAVIGATION LINKS */
header {
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    padding: 15px 15px 15px 15px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-list {
    margin: 0;
    text-align: center;
}

.header-item {
    display: inline-block;
}

.header-item:not(:last-child) {
    margin-right: 4rem;
}

.header-link {
    color: black;
    font-size: calc(1rem + .5vw);
    font-weight: 500;
}

a.active {
    color: #57BC90;
}

/* COVID NOTICE */
.notice-title, .notice-note, .notice-link-section {
    background-color: #57BC90;
    color: black;
    text-align: center;
    padding: 10px;
}

.notice-title, .notice-note {
    margin-bottom: 0;
    padding-bottom: 0;
}

.notice-link {
    color: black;
}

.notice-title, .notice-link:hover {
    color: white;
}








/* HERO */
.header-container {
    color: white;
}

.header-container {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 80vh;
}

.header-description {
    transform: translateY(5rem) translateY(10vh);
}

.hero-text {
    margin: auto;
    max-width: 1000px;
    font-size: calc(1.1rem + 2vw);
}








/* CROSS PAGES */
/* SECTION TITLES, TEXT, AND IMGS */
.section {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
    margin-right: 5%;
    margin-left: 5%;
}

.first-section {
    margin-top: 200px;
}

.page-intro {
    margin-top: 100px;
}

.reverse-section {
    flex-direction: row-reverse;
}

/* IMAGES */
.section-image {
    width: 50%;
    min-width: 450px; 
}

.left-image {
    padding: 5rem 7rem 5rem 0;
}

.right-image {
    padding: 5rem 0 5rem 7rem;
}

/* TEXT */
.section-text {
    width: 50%
}

/* TITLE */
.section-title, .faq-heading {
    color: #25371F;
    font-size: calc(1rem + 2vw);
    font-weight: bold;
    font-family:'Lora';
}

.section-title {
    margin: 0 0 40px;
}

.section-title:after {
    background-color: #57BC90;
    content: "";
    width: 7rem;
    height: 3px;
    display: block;
    margin-top: 1rem;
}








/* PRODUCTS PAGE */
.jump-section {
    margin: 5% 10%;
}

.return-to-top {
    position: sticky;
    bottom: 0;
    padding: 2rem;
    text-align: right;
    z-index: 2;
}








/* ABOUT PAGE */
.about-image-left {
    padding-top: 0;
}

.about-section {
    margin-bottom: 40px;
}

.about-section-two {
    align-items: flex-start;
}

.abt-pg-bottom-pic {
    padding-top: 3rem;
}








/* FAQs */
/* On home page */
.faq-section {
    display: block;
}

.faq-title:after {
    width: 5rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

/* applies to all */
.card {
    border-style: none;
}

.accordion > .card > .card-header {
    background-color: #19293E;
    border-radius: 10px;
}

a.question {
    color: #F1EFF3;
    font-size: 1.25rem;
    font-weight: 500;
    width: 100%;
    display: inline-block;
}

.faq-heading {
    margin: 50px  0 25px;
    font-size: calc(1.25rem + 1.2vw);
}

.faq-heading:after {
    background-color: #57BC90;
    content: "";
    width: 7rem;
    height: 3px;
    display: block;
    margin-top: 1rem;
}








/* CONTACT PAGE */
.contact-section {
    align-items: flex-start;
}

.contact-section-text {
    width: 40%;
}

.contact-section-image {
    width: 60%;
    min-width: 600px;
}

.contact-pg-section {
    margin-bottom: 5%;
}

.contact-no-break {
    margin-bottom: 0;
}








/* BUTTONS */
.btn {
    background-color: #57BC90;
    border-radius: 50px;
    color: white;
    font-size: calc(1rem + .75vw);
    font-weight: 500;
    margin-top: 25px;
    padding: 15px 25px;
}

.btn:hover {
    background-color: #4F4F4F;
    color: white;
}

/* HERO BUTTON */
.header-btn {
    background-color: transparent;
    border: 3px solid white;
    color: white;
}

.header-btn:hover {
    background-color: white;
    color: #4F4F4F;
}

/* PRODUCTS PAGE BUTTONS */
.more-details {
    margin-right: 20px;
}

.jump-btn, .return-btn {
    background-color: #19293E;
    border-radius: 20px;
    color: white;
    font-size: 1.25rem;
    font-weight: 450;
    margin-top: 5px;
    padding: 0 25px;
}

.return-btn {
    padding: 0px 10px;
    border-radius: 10px;
}








/* FOOTER */
.footer {
    background-color: #19293E;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 3rem 3rem 0;
    justify-content: center;
}

.footer-logo {
    padding: 1rem 0 2rem;
    max-width: calc(7rem + 7vw);
    min-width: calc(7rem + 7vw);
}

.footer-maininfo, .footer-quicklinks {
    padding: 1rem 3rem;
}

.footer, .quote, .footer-contactinfo, .footer-hours, .footer-link {
    color: white;
}

.quote-bottom {
    font-weight: 450;
    font-size: calc(1rem + .25vw);
}

.footer-quicklinks {
    display: flex;
    align-items: flex-start;
}

.quicklinks {
    margin-right: 4rem;
}

.footer-nav {
    margin-right: 0;
}

.quicklink-title {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

.quicklink-break {
    margin-bottom: .5rem;
}

.hours-responsive {
    display: none
}








@media (max-width: 1670px) {
    /* FOOTER */
    .footer {
        align-items: center;
    }

    .footer-maininfo {
        padding-right: 0;
    }
}

@media (max-width: 1200px) {
    /* ABOUT PAGE */
    .about-image-left {
        transform: none;
    }

    /* CONTACT PAGE */
    .contact-section-image {
        width: 100%;
        min-width: 100%;
    }

    .contact-section-text {
        width: 100%;
    }

    .contact-description {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-pg-section:not(:last-child) {
        margin-right: 5%;
    }
}


@media (max-width: 1100px) {
    /* CROSS PAGES */
    .first-section, .page-intro, .contact-section {
        margin-top: 20%;
    }

    .section {
        justify-content: center;
        margin-bottom: 30%;
    }

    .section-image, .section-text {
        width: 100%;
        min-width: 100%;
    }

    .section-image {
        padding: 10% 0;
    }

    .section-title {
        margin: 0 0 4%;
    }

    .btn {
        padding: 10px 25px;
    }

    /* PRODUCTS */
    .jump-btn {
        padding: 0px 25px;
    }

    /* ABOUUT */
    .about-section {
        margin-bottom: 25px;
    }

    /* FOOTER */
    .footer-maininfo {
        padding-left: 0;
    }
}

@media (max-width: 755px){
    /* CROSS PAGES */
    .section-title {
        margin: 0 0 6%;
    }

    /* FOOTER */
    .footer-logo {
        padding: 0;
    }

    .footer-maininfo {
        padding-left: 0;
    }

    .footer-quicklinks {
        padding-left: 0;
        padding-right: 0;
        flex-wrap: wrap;
    }

    .hours {
        display: none;
    }

    .hours-responsive {
        display: block;
        margin-right: 0;
    }

    .footer-nav {
        margin-right: 4rem;
    }
}

@media (max-width: 650px) {
    /* MENU ICON */
    .menu-icon {
        display: inline-block;
    }
    
    /* NAV LINKS */
    .header-list{
        display: none;
    }

    .change, .header-item {
        display: block;
    }

    .header-item:not(:last-child) {
        margin: 0;
    }  
}


@media (max-width: 500px) {
    /* PRODUCTS */
    .jump-btn {
        padding: 0px 10px;
    }

    /* FOOTER */
    .footer {
        display: block;
    }

    .quicklink-title {
        margin: 0;
    }

    .footer-quicklinks {
        display: block;
    }

    .quicklinks:not(:last-child), .footer-nav {
        margin-right: 0;
    }

    .hours {
        display: block;
    }

    .hours-responsive {
        display: none;
    }
}